@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&family=Staatliches&display=swap");

:root {
  --white: #fffffc;
  --grey: #dee2e6;
  --dark: #495057;
}

body {
  background: linear-gradient(45deg, #ed1e79, #662d8c);
  background-attachment: fixed;
}

header {
  margin: 2rem 0;
}

.title {
  height: 3rem;

  font-family: "Staatliches", cursive;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 3rem;
}

main {
  min-height: calc(100vh - 7rem);
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;

  background: var(--white);
}

.search {
  display: flex;
}

.search__type {
  position: relative;
  flex: 1 0 150px;
}

.search__button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.5rem 0 0 0;
  outline: none;
}

.search__button--closed {
  border-radius: 0.5rem 0 0 0.5rem;
}

.search__options {
  position: absolute;

  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;

  overflow: hidden;
}

.search__options--hidden {
  visibility: hidden;
}

.search__option {
  height: 2.5rem;
  width: 100%;

  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
}

.search__option--pokemon {
  background: hsl(110, 100%, 87%);
  color: hsl(110, 100%, 37%);
}

.search__option--items {
  background: hsl(185, 100%, 80%);
  color: hsl(185, 100%, 30%);
}

.search__option--moves {
  background: hsl(0, 100%, 84%);
  color: hsl(0, 100%, 34%);
}

.search__option--abilities {
  background: hsl(300, 100%, 89%);
  color: hsl(300, 100%, 39%);
}

.search__option--hidden {
  position: absolute;
  visibility: hidden;
}

.search__box {
  display: flex;
  flex: 4 0 150px;
}

.search__text {
  flex: 1 1 100px;

  height: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0 0 0 0.5rem;
  border: none;
  outline: none;

  background: var(--grey);

  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.search__icon {
  flex: 0 0 3rem;

  border-radius: 0 0.5rem 0.5rem 0;

  background: var(--grey);

  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
}

.pokemon {
  width: 100%;
  margin: 1.5rem 0;
  border: 2px solid var(--dark);
  border-radius: 0.75rem;

  overflow: hidden;
}

.pokemon__title {
  display: flex;
  align-items: center;

  padding: 0.75rem 1rem;

  background: var(--grey);
}

.pokemon__name {
  flex: 1 0;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.pokemon__type {
  margin: 0 0 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}

.pokemon__type--normal {
  background: #a8a878;
}

.pokemon__type--fire {
  background: #f08030;
}

.pokemon__type--fighting {
  background: #c03028;
}

.pokemon__type--water {
  background: #6890f0;
}

.pokemon__type--flying {
  background: #a890f0;
}

.pokemon__type--grass {
  background: #78c850;
}

.pokemon__type--poison {
  background: #a040a0;
}

.pokemon__type--electric {
  background: #f8d030;
}

.pokemon__type--ground {
  background: #e0c068;
}

.pokemon__type--psychic {
  background: #f85888;
}

.pokemon__type--rock {
  background: #b8a038;
}

.pokemon__type--ice {
  background: #98d8d8;
}

.pokemon__type--bug {
  background: #a8b820;
}

.pokemon__type--dragon {
  background: #7038f8;
}

.pokemon__type--ghost {
  background: #705898;
}

.pokemon__type--dark {
  background: #705848;
}

.pokemon__type--fairy {
  background: #ee99ac;
}

.pokemon__data {
  padding: 0.75rem 1rem;

  background: var(--white);
}

.pokemon__stats {
  display: grid;
  grid-template-columns: 2rem 2rem auto;
  gap: 0.5rem;
}

.pokemon__stat-name {
  height: 100%;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
  line-height: 100%;
}

.pokemon__stat-value {
  height: 100%;

  font-family: "Lato", sans-serif;
  text-align: right;
  line-height: 100%;
}

.pokemon__stat-bar {
  height: 100%;
  padding: 0 0 0 0.25rem;
  border-radius: 0.25rem;
}

.pokemon__stat-bar--0 {
  background: #f94144;
}

.pokemon__stat-bar--1 {
  background: #f3722c;
}

.pokemon__stat-bar--2 {
  background: #f8961e;
}

.pokemon__stat-bar--3 {
  background: #f9c74f;
}

.pokemon__stat-bar--4 {
  background: #90be6d;
}

.pokemon__stat-bar--5 {
  background: #43aa8b;
}

.pokemon__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem 0.5rem;

  margin: 1rem 0 0 0;
}

.pokemon__info-prop {
  position: relative;
  grid-column: 1;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.pokemon__info-value {
  grid-column: 2;

  font-family: "Lato", sans-serif;
}

.pokemon__moves {
  padding: 0.75rem 1rem;

  background: var(--grey);
}

.pokemon__moves-header {
  display: flex;
  align-items: center;
}

.pokemon__moves-title {
  flex: 1 0 0px;

  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.pokemon__moves-icon {
  font-size: 1.25rem;
}

.pokemon__moves-all {
  max-height: 0;

  display: grid;
  grid-template-columns: 2rem 1fr 1fr 2rem;
  grid-auto-flow: dense;
  gap: 0.25rem 0.5rem;

  overflow: hidden;
  transition: max-height 500ms ease-in-out;
}

.pokemon__lv-moves-header {
  grid-column: span 2;

  margin: 1rem 0 0.5rem 0;

  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.pokemon__lv-move-lv {
  grid-column: 1;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.pokemon__lv-move-name {
  grid-column: 2;

  font-family: "Lato", sans-serif;
}

.pokemon__egg-moves-header {
  grid-column: 3 / span 2;

  margin: 1rem 0 0.5rem 0;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.pokemon__egg-move-name {
  grid-column: 3 / span 2;

  font-family: "Lato", sans-serif;
  text-align: right;
}
