@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&family=Staatliches&display=swap");

:root {
  --white: #fffffc;
  --grey: #dee2e6;
  --dark: #495057;

  image-rendering: auto;
}

body {
  background: linear-gradient(45deg, #ed1e79, #662d8c);
  background-attachment: fixed;
}

header {
  margin: 2rem 0;
}

.title {
  height: 3rem;

  font-family: "Staatliches", cursive;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 3rem;
}

main {
  min-height: calc(100vh - 7rem);
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;

  background: var(--white);
}

.loading {
  position: relative;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;

  overflow: hidden;
}

.loading__bar-blank {
  position: absolute;

  height: 100%;
  width: 100%;

  background: var(--grey);

  z-index: 1;
}

.loading__bar-fill {
  position: absolute;

  height: 100%;
  width: 100%;

  background: hsl(185, 100%, 80%);

  transform: scale(0%, 100%);
  transform-origin: left;
  transition: transform 200ms ease;

  z-index: 2;
}

.loading__text {
  position: absolute;

  height: 100%;
  width: 100%;

  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(185, 100%, 30%);
  text-align: center;
  line-height: 2.5rem;

  z-index: 3;
}

.loading--hidden {
  display: none;
}

.search {
  display: flex;
}

.search--hidden {
  display: none;
}

.search__type {
  position: relative;
  flex: 1 0 150px;
}

.search__button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.5rem 0 0 0;
  outline: none;

  cursor: pointer;
}

.search__button--closed {
  border-radius: 0.5rem 0 0 0.5rem;
}

.search__options {
  position: absolute;

  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;

  overflow: hidden;
  z-index: 2;
}

.search__options--hidden {
  visibility: hidden;
}

.search__option {
  height: 2.5rem;
  width: 100%;

  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;

  cursor: pointer;
}

.search__option--pokemon {
  background: hsl(110, 100%, 87%);
  color: hsl(110, 100%, 37%);
}

.search__option--items {
  background: hsl(185, 100%, 80%);
  color: hsl(185, 100%, 30%);
}

.search__option--moves {
  background: hsl(0, 100%, 84%);
  color: hsl(0, 100%, 34%);
}

.search__option--abilities {
  background: hsl(300, 100%, 89%);
  color: hsl(300, 100%, 39%);
}

.search__option--hidden {
  position: absolute;
  visibility: hidden;
}

.search__box {
  position: relative;
  display: flex;
  flex: 4 0 150px;
}

.search__text {
  flex: 1 1 100px;

  height: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0 0 0 0.5rem;
  border: none;
  outline: none;

  background: var(--grey);

  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.search__icon {
  flex: 0 0 3rem;

  border-radius: 0 0.5rem 0.5rem 0;

  background: var(--grey);

  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
}

.search__strings {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  max-height: 50vh;
  overflow-y: scroll;
  border-radius: 0 0 0.5rem 0.5rem;

  background: var(--grey);
  z-index: 2;
}

.search__strings::-webkit-scrollbar {
  width: 1rem;
}

.search__strings::-webkit-scrollbar-thumb {
  border: 0.25rem solid var(--grey);
  border-radius: 0.5rem;

  background: var(--dark);
}

.search__string {
  padding: 0.375rem 0.5rem;

  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;

  cursor: pointer;
}

.search__string:hover {
  background: var(--dark);
  color: var(--white);
}

.pokemon {
  width: 100%;
  margin: 1.5rem 0;
  border: 2px solid var(--dark);
  border-radius: 0.75rem;

  overflow: hidden;
}

.pokemon__title {
  display: grid;
  grid-template-columns: max-content max-content auto max-content;
  gap: 0.25rem;

  height: fit-content;
  padding: 0.75rem 1rem;

  background: var(--grey);
  text-align: center;
}

.pokemon__name {
  position: relative;

  grid-column: span 3;
  justify-self: start;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.pokemon__name--mega::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2.25rem;
  width: 2rem;
  background: no-repeat center
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/special-attribute/mega-evolution-sigil-hires.png);
}

.pokemon__name--giga::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2.25rem;
  width: 2rem;
  background: no-repeat center
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/special-attribute/gigantamax-icon.png);
}

.pokemon__img {
  grid-row: span 2;

  width: 64px;
  margin: auto 0;
}

.pokemon__type {
  position: relative;

  border-radius: 0.25rem;

  height: 2rem;
  width: 4rem;
}

.pokemon__type::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  filter: brightness(100);
}

.pokemon__type--normal {
  background: #9099a1;
}

.pokemon__type--normal::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/normal.png);
}

.pokemon__type--fighting {
  background: #ce4069;
}

.pokemon__type--fighting::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/fighting.png);
}

.pokemon__type--flying {
  background: #8fa8dd;
}

.pokemon__type--flying::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/flying.png);
}

.pokemon__type--poison {
  background: #ab6ac8;
}

.pokemon__type--poison::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/poison.png);
}

.pokemon__type--ground {
  background: #d97746;
}

.pokemon__type--ground::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/ground.png);
}

.pokemon__type--rock {
  background: #c7b78b;
}

.pokemon__type--rock::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/rock.png);
}

.pokemon__type--bug {
  background: #90c12c;
}

.pokemon__type--bug::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/bug.png);
}

.pokemon__type--ghost {
  background: #5269ac;
}

.pokemon__type--ghost::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/ghost.png);
}

.pokemon__type--steel {
  background: #5a8ea1;
}

.pokemon__type--steel::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/steel.png);
}

.pokemon__type--fire {
  background: #ff9c54;
}

.pokemon__type--fire::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/fire.png);
}

.pokemon__type--water {
  background: #4d90d5;
}

.pokemon__type--water::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/water.png);
}

.pokemon__type--grass {
  background: #63bb5b;
}

.pokemon__type--grass::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/grass.png);
}

.pokemon__type--electric {
  background: #f3d23b;
}

.pokemon__type--electric::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/electric.png);
}

.pokemon__type--psychic {
  background: #f97176;
}

.pokemon__type--psychic::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/psychic.png);
}

.pokemon__type--ice {
  background: #74cec0;
}

.pokemon__type--ice::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/ice.png);
}

.pokemon__type--dragon {
  background: #0a6dc4;
}

.pokemon__type--dragon::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/dragon.png);
}

.pokemon__type--dark {
  background: #5a5366;
}

.pokemon__type--dark::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/dark.png);
}

.pokemon__type--fairy {
  background: #ec8fe6;
}

.pokemon__type--fairy::before {
  background: no-repeat center/50%
    url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/fairy.png);
}

.pokemon__data {
  padding: 0.75rem 1rem;

  background: var(--white);
}

.pokemon__stats {
  width: 100%;
}

.pokemon__stat-name {
  width: 2rem;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.pokemon__stat-value {
  width: 2rem;
  padding: 0 0.25rem 0 0.25rem;

  font-family: "Lato", sans-serif;
  text-align: right;
}

.pokemon__stat-bar {
  display: block;

  height: 1rem;
  border-radius: 0.25rem;
}

.pokemon__stat-bar--0 {
  background: #f94144;
}

.pokemon__stat-bar--1 {
  background: #f3722c;
}

.pokemon__stat-bar--2 {
  background: #f8961e;
}

.pokemon__stat-bar--3 {
  background: #f9c74f;
}

.pokemon__stat-bar--4 {
  background: #90be6d;
}

.pokemon__stat-bar--5 {
  background: #43aa8b;
}

.pokemon__info {
  margin: 1rem 0 0 0;
  width: 100%;
}

.pokemon__info-prop {
  width: 50%;
  padding: 0 0.5rem;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
  vertical-align: top;
}

.pokemon__info-value {
  font-family: "Lato", sans-serif;
}

.pokemon__moves {
  padding: 0.75rem 1rem;

  background: var(--grey);
}

.pokemon__moves-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.pokemon__moves-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.pokemon__moves-icon {
  font-size: 1.25rem;

  transform: rotate(0deg);
  transition: transform 200ms ease-in-out;
}

.pokemon__moves-icon--flip {
  transform: rotate(180deg);
}

.pokemon__moves-data {
  max-height: 0;

  transition: max-height 200ms ease-out;
  overflow: hidden;
}

.pokemon__moves-table {
  width: 100%;
}

.pokemon__moves-title-level {
  padding: 0.5rem 0;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: left;
}

.pokemon__moves-title-egg {
  padding: 0.5rem 0;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.pokemon__move-level {
  width: 2rem;
  padding: 0 0.5rem;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.pokemon__move-level-name {
  font-family: "Lato", sans-serif;
  text-align: left;
}

.pokemon__move-egg-name {
  width: 50%;

  font-family: "Lato", sans-serif;
  text-align: right;
}

@media only screen and (min-width: 576px) {
  .title {
    height: 4rem;

    font-size: 4rem;
    line-height: 4rem;
  }

  .pokemon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 0.25rem;
  }

  .pokemon__data {
    grid-row: 2;
  }

  .pokemon__moves {
    grid-row: span 2;
  }

  .pokemon__moves-header {
    display: none;
  }

  .pokemon__moves-data {
    max-height: none;
  }

  .pokemon__moves-title-level {
    padding: 0 0 0.5rem 0;
  }

  .pokemon__moves-title-egg {
    padding: 0 0 0.5rem 0;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 1200px;
    padding: 2rem 4rem;
    margin: 0 auto;
  }

  .search {
    width: 75%;
    margin: 0 auto;
  }

  .loading {
    width: 75%;
    margin: 0 auto;
  }
}
